.signIn {
  display: block;
}

.signIn__container {
  border: 1px solid lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 10px;
  margin: auto;
  margin-top: 30vh;
  width: 400px;
  position: relative;
}

.signIn__container > img {
  margin: 15px;
}

.signIn__form {
  margin-bottom: 10px;
}

.signIn__form > input {
  margin: 3px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 75%;
}

.signIn__form > input:hover {
  border: 1px solid #0070ba;
}

.signIn__form > input:focus {
  border: 1px solid #0070ba;
}

.signIn__form > button {
  width: 82%;
  background-color: #0070ba;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 15px;
}

.signIn__form > button:hover {
  cursor: pointer;
}

.signIn__openAcountForm {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.signIn__openAcount {
  width: 82%;
  background-color: #dee4e9;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #2c2e2f;
  font-weight: bold;
  margin: 15px;
}

.signIn__openAcount:hover {
  cursor: pointer;
}

.signIn__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  width: 100%;
  background-color: #f7f9fa;
}

.signIn__footerItems {
  display: flex;
  justify-content: center;
}

.signIn__footerItem {
  margin: 5px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 11px;
  color: #666666;
}

.disclaimer:hover {
  cursor: pointer;
}

.popover {
  width: 200px;
  padding: 0px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.popover__header {
  background-color: #f7f7f7;
  border: 1px solid lightgray;
  padding: 5px;
}

.popover__body {
  padding: 5px;
  border: 1px solid lightgray;
  border-top: none;
  background-color: #ffffff;
}

.signIn__cookiePopup {
  background-color: green;
  z-index: 1;
  margin: 0;
  margin-top: 30vh;
  width: 400px;
  position: relative;
}

.signIn__mollerLogo {
  width: 80px;
  height: 100px;
  margin: 10px;
  position: fixed;
  top: 0;
}
